.footer {
    background-color: hsl(40, 44%, 89%);
    color: #c0aa80;
    padding: 15px;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 5px;
}

.social_list li {
    margin: 0 1em;
}

.social_list_instagram1 {
    color: #948362;
    padding: 8px;
    padding-right: 15px;
}

.social_list_instagram2 {
    color: #948362;
    padding: 8px;
    padding-left: 15px;
}

.social_list_instagram1:hover {
    color: rgb(94, 58, 16);
}

.social_list_instagram2:hover {
    color: rgb(94, 58, 16);
}

.social_list svg {
   font-size: 1.5em;
   cursor: pointer;
}
.copy_right {
    margin-top: 2em;
}

.copy_right span {
    color: #c0aa80;
}