header {
    background-color: hsl(40, 44%, 89%);
    color: #c9b796;
    padding: 15px;
    padding-left: 20px;
    text-align: left;
    font-family: 'Gruppo';
    width: 97,5%;
    font-size: 10px;
    display: flex;
    height: 80px;
}

.list {
    display: flex;
    list-style: none;
    align-items: right;
    height: 0px;
    padding: 20px;
    padding-right: 10px;
    padding-bottom: 1px;
    text-align: right;
    
}

.item {
    padding-bottom: 10px;
    font-size: 19px;
}

.item a {
    color: #c0aa80;
    text-decoration: none;
    padding-left: 1px;
    padding: 10px;
}

.item a:hover {
    color: #79591a
}

.h1 {
    display: inline-block;
    font-size: 19px;
    margin: 10px;
    padding: 20px;
    padding-left: 10px;
}