.home_container {
    width: 91,5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

.home_container h1 {
    font-size: 2,5em;
    margin-bottom: .5em;
}

.home_container h1 span {
    color: #c0aa80;
    padding: 0 .2em;
    background-color: hsl(40, 44%, 89%);
}

.home_container p {
    margin-bottom: 1.5em;
    color: #7b7b7b;
}

.home_container img {
    margin: auto;
}

.imagem {
    height: 800px;
    width: 800px;
    padding-top: 30px;
    padding-bottom: 30px;
}